cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
google-api-core==1.21.0
google-auth==1.18.0
google-cloud-vision==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
pandas==1.0.5
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
rsa==4.6
scipy==1.5.0
seaborn==0.10.1
selenium==3.141.0
six==1.15.0
urllib3==1.25.9
