<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimanadia.id</title>
</head>

<body>
    <header class="bg-gray-900 shadow">
        <div class="box-content box-border container mx-auto h-64 py-10 relative">
            <h2 class="text-cyan font-bold text-6xl">Dimanadia.id</h2>
            <h2 class="text-cyan font-semibold text-4xl">Hmm cari sesuatu ? Lakukan sekarang.</h2>
            <h3 class="text-cyan font-normal text-2xl"><span id="my-ip" class="bg-gray-900 text-orange-500"></span>
                adalah
                IP publik kamu
            </h3>
        </div>
    </header>
    <section class="container mx-auto py-4 -mt-8">
        <input-component></input-component>
        <result-component></result-component>
    </section>
    <footer>
        <div class="w-full text-center text-gray-100 bg-gray-900 fixed bottom-0 p-2">Dev by Aqmal.io</div>
    </footer>
</body>

</html>