# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: mockrssfeed
# app and org for use with dashboard.serverless.com
app: mockrssfeed
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x

# you can overwrite defaults here
  stage: dev
  region: ap-southeast-1

functions:
  hello:
    handler: handler.hello
    events:
     - http:
         path: mock-rss
         method: get
         response:
           headers:
            Content-Type: "text/xml"
  rss2:            
    handler: handler.rss2
    events:
     - http:
         path: mock-rss-2
         method: get
         response:
           headers:
            Content-Type: "text/xml"
